<%= form_with url: check_password_link_url(id: @link.shlink), method: "patch", local: true do %>
  <div class='border p-4 mb-4'>
    <h4>Ten link jest zabezpieczony hasłem</h4>
    <div class='form-group row col-sm-10'>
      <%= text_field_tag :"password_check", "", class: 'form-control', placeholder: 'hasło' %>
    </div>
    <%= submit_tag("Kontynuuj", class: 'btn btn-primary') %>
  </div>
<% end %>
